/java/junit-spring-jgiven-selenide/vft.uiexampletests.junit-spring-jgiven-selenide.iml
/.idea
/java/junit-spring-jgiven-selenide/build
/java/junit-spring-jgiven-selenide/target
/java/junit-spring-jgiven-selenide/jgiven-reports
/java/bdd-exp-gradle-junit5-micronaut/reports/vfa/
